<div class="row" style="border-bottom: 1px solid gray">
  <h5>Sales</h5>
</div>

<div class="row" style="text-align: center">
  <div class="col-4">
    <div class="row">
      <span>{{ todaySales }}</span>
    </div>
    <div class="row">
      <span>Today</span>
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <span>{{ monthSales }}</span>
    </div>
    <div class="row">
      <span>This Month</span>
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <span>{{ yearSales }}</span>
    </div>
    <div class="row">
      <span>This Year</span>
    </div>
  </div>
</div>
