<div class="row">
  <div class="row" style="border-bottom: 1px solid gray; margin-left: 0px">
    <div class="col-8">
      <h5>New Bill</h5>
    </div>

    <div class="col-4">
      <span> Cart &nbsp;{{ cartCount }} </span>
      <span>
        <button
          (click)="openItems(content)"
          style="background-color: orange"
          type="button"
        >
          Add
        </button>
      </span>
    </div>
  </div>
  <div class="row" style="height: 165px; overflow-y: auto; margin-left: 0px">
    <div
      class="row"
      *ngFor="let item of itemAddedToCart; let last = last"
      [ngStyle]="{
        'border-bottom': !last ? '1px solid gray' : 'none'
      }"
      style="margin-bottom: 10px"
    >
      <div class="col-6">
        <p>
          <span> Item Name </span>
          <span>:&nbsp;{{ item.itemName }} </span>
        </p>
        <p>
          <span> Quantity</span>
          <span>:&nbsp;{{ item.quantity }}</span>
        </p>
      </div>
      <div class="col-6">
        <p>
          <span> Price</span>
          <span>:&nbsp;{{ item.price }} </span>
        </p>
      </div>
    </div>
  </div>
  <div
    class="row"
    style="
      position: absolute;
      bottom: 0;
      border-top: 1px solid gray;
      margin-left: 2px;
    "
  >
    <div class="col-6">Amount: RS. {{ totalCartPrice }}</div>
    <div class="col-4">Total Items: {{ totalItems }}</div>
    <div class="col-2">
      <button
        [ngStyle]="{
          'background-color':
            itemAddedToCart.length == 0 ? 'gray' : 'rgb(89, 206, 60)'
        }"
        [disabled]="itemAddedToCart.length == 0"
        (click)="buyNow()"
        type="button"
      >
        Buy
      </button>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select Item</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="clearFields(); modal.dismiss('Close')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="itemForm" #f="ngForm" (ngSubmit)="addItem(f)">
      <div class="row">
        <p style="color: rgb(228, 65, 65)" *ngIf="itemquantity.errors?.pattern">
          Quantity should be grater than zero.
        </p>
      </div>
      <div class="form-group">
        <select required name="itemName" ngModel style="width: 181px">
          <option value="">Select Item</option>
          <option [value]="item.itemName" *ngFor="let item of itemList">
            {{ item.itemName }}
          </option>
        </select>
      </div>

      <div class="form-group" style="margin-top: 10px">
        <input
          placeholder="Enter Quantity"
          required
          type="number"
          name="quantity"
          pattern="^[1-9]\d*$"
          [(ngModel)]="quantity"
          #itemquantity="ngModel"
        />
      </div>
      <div class="row justify-content-end" style="margin-top: 10px">
        <button class="btn btn-light" [disabled]="!f.valid" type="submit">
          Add
        </button>
      </div>
    </form>
  </div>
</ng-template>
